<div class="form-container">
  <div class="form-box">
    <h2>{{ 'ENTERNAME' | translate }}</h2>
    <br>
    <form (ngSubmit)="onSubmit()" #nameForm="ngForm">
      <div class="input-group">
        <input
          type="text"
          id="nameInput"
          name="name"
          placeholder="{{ 'NAME' | translate }}"
          [(ngModel)]="name"
          required
        />

      </div>
      <br>
      <button type="submit" [disabled]="nameForm.invalid">{{ 'GET_INFORMATIONS' | translate }}</button>
    </form>

    <div *ngIf="genderData" class="info-card">
      <div class="info-card-body">
        <h5 class="info-card-title">{{ 'GENDER' | translate }}: {{ genderData.gender }}</h5>
        <p class="info-card-text">{{ 'PROBABILITY' | translate }}: {{ genderData.probability }}</p>
      </div>
    </div>

    <div *ngIf="nationalityData" class="info-card">
      <div class="info-card-header">{{ 'PROBABILITY_COUNTRY' | translate }}</div>
      <ul class="info-card-list">
        <li *ngFor="let country of nationalityData.country">
          {{ country.country_id }} - {{ 'PROBABILITY' | translate }} {{ country.probability }}
        </li>
      </ul>
    </div>
  </div>
</div>
